wp-admin
wp-content/plugins/akismet
index.php
wp-content/themes/twentyfifteen
wp-content/themes/twentyfourteen
wp-content/themes/twentysixteen
wp-includes
wp-mail.php
hello.php
.htaccess
license.txt
readme.html
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-config.php
wp-activate.php
wp-signup.php
wp-settings.php
wp-trackback.php
xmlrpc.php
