ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
	li {
		margin-bottom: 1.2em; 
	}
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}


.list {
	list-style: none;
	padding: 0;
	margin: 0;
	&.list-with-thumb {
		overflow: hidden;
		li {
			
			border-top: 1px solid $color__background-hr;
			padding-top: 14px;
			margin-top: 10px;
			&:first-child {
			border-top: none;
			padding-top: 0;
				img {
				top: 5px;
				}
			}
		}

		img, .info {
		display: inline-block;
		*zoom: 1; *display: inline;
		vertical-align: top;
		}
		img {
			
		}

		.info {
			max-width: 70%;
			margin-left: 10px;

			h4  {
				margin:0 auto 10px;
				color: $color__card-bg;
				font-weight: 700;
				line-height: 1; 
			}

			.short-info  {
				line-height: 1.2;
				font-size: 16px
			}

		}
	}
}

